extends ../../../layout

block styleblock
    link(rel="stylesheet" href="/css/upload.css")
    style(type="text/css").

block content
    include ../../../header.pug
    .container-fluid.pmargin-vertical-20.w-75
        nav.bg-white(aria-label="breadcrumb")
            ol.breadcrumb.bg-white
                li.breadcrumb-item
                    a.link.breadcrumb-item-font-size(href="/pet/index.html") My pet
                li.breadcrumb-item
                    a.link.breadcrumb-item-font-size(href="/pet/album/"+album.petId+"/index.html") #{album.petName}
                li.breadcrumb-item
                    a.link.breadcrumb-item-font-size(href="/pet/album/edit.html/"+album.id) #{album.name} album
                    input(type="hidden" id="albumId" value=album.id)
                li.breadcrumb-item.active(aria-current="page") Upload image
        .card.scard
            .card-body
                .content
                    form(action="/pet/image/upload.html" method="POST")
                        .underline-2.pb-2
                            button#upload-btn.btn.lbtn(type="button") Upload
                            small#error-tip.ml-2.text-danger
                        .form-group
                            input#img-file.img-file(type="file" multiple)
                            input#album-id(type="hidden" value=album.id)
                            #image-preview.image-preview
                                #upload-img-btn.upload-img-btn.border.mt-3(title="Click to choose files")
                                    span.icon.iconfont.icon-Cloudupload.primary-color
block scriptblock
    script(type="text/javascript" src="/js/upload.js")
    script(type="text/javascript").
        $(function() {
            $("#upload-btn").on("click", async function(){
                let albumId = $("#album-id").val();
                let files = document.getElementById("img-file").files;
                if (!files || files.length <= 0) {
                    $("#error-tip").html("Please choose uploaded image!")
                    return;
                }
                console.log("files are: ", files);
                let formData = new FormData();
                formData.append("albumId", albumId);
                for (const file of files) {
                    formData.append("images", file);
                }
                $.ajax({
                        url: "/pet/image/upload.html",
                        type: "post",
                        dataType: "json",
                        cache: false,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(res) {
                            if (200 === res.code) {
                                console.log("upload successfully!");
                                window.location.href = `/pet/album/edit.html/${albumId}`;
                            } else {
                                $("#error-tip").html(res.msg);
                            }
                        }
                });
            });
        });

